<?xml version="1.0"?>
<!-- launch/teleop_multi.launch -->
<launch>
    <arg name="num_robots" default="2"/>
    
    <!-- Robot 0 -->
    <group ns="robot_0">
        <node pkg="image_view" type="image_view" name="image_view_rgb">
            <remap from="image" to="rgb"/>
        </node>
        
        <node pkg="image_view" type="image_view" name="image_view_depth">
            <remap from="image" to="depth"/>
        </node>
        
        <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan">
            <remap from="image" to="depth"/>
            <param name="output_frame_id" value="robot_0/laser"/>
            <param name="scan_time" value="0.025" />
        </node>
        
        <node pkg="laser_scan_matcher" type="laser_scan_matcher_node" name="laser_scan_matcher_node" output="screen">
            <param name="max_iterations" value="10"/>
            <remap from="camera_info" to="camera_info"/>
            <param name="fixed_frame" value="robot_0/odom"/>
            <param name="base_frame" value="robot_0/base_frame"/>
        </node>
        
        <node pkg="tf" type="static_transform_publisher" name="base_frame_to_laser" args="0.0 0.0 0.0 0.0 0.0 0.0 /robot_0/base_frame /robot_0/laser 50" />
    </group>
    
    <!-- Robot 1 -->
    <group ns="robot_1">
        <node pkg="image_view" type="image_view" name="image_view_rgb">
            <remap from="image" to="rgb"/>
        </node>
        
        <node pkg="image_view" type="image_view" name="image_view_depth">
            <remap from="image" to="depth"/>
        </node>
        
        <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan">
            <remap from="image" to="depth"/>
            <param name="output_frame_id" value="robot_1/laser"/>
            <param name="scan_time" value="0.025" />
        </node>
        
        <node pkg="laser_scan_matcher" type="laser_scan_matcher_node" name="laser_scan_matcher_node" output="screen">
            <param name="max_iterations" value="10"/>
            <remap from="camera_info" to="camera_info"/>
            <param name="fixed_frame" value="robot_1/odom"/>
            <param name="base_frame" value="robot_1/base_frame"/>
        </node>
        
        <node pkg="tf" type="static_transform_publisher" name="base_frame_to_laser" args="0.0 0.0 0.0 0.0 0.0 0.0 /robot_1/base_frame /robot_1/laser 50" />
    </group>
    
    <!-- Add more robots as needed -->
</launch>